@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';

html {
  --color-red: rgb(248, 79, 79);
  --color-blue: rgb(25, 168, 255);
  --color-yellow: rgb(255, 242, 103);
  --color-white: rgb(250, 255, 255);

  --lap-0: var(--color-red);
  --lap-1: var(--color-white);
  --lap-2: var(--color-blue);
  --lap-3: var(--color-yellow);
}

* {
  padding: 0;
  margin: 0;
}

.ip {
  position: absolute;
  bottom: 0;
  right: 0;
}

.grid-container {
  width: 100%;
  aspect-ratio: 3/2;
}

.grid {
  height: 100%;
  width: 100%;
  font-size: 72px;
  overflow: hidden;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;

  &.is-pair,
  &.is-single {
    font-size: 60vw;
    grid-template-columns: 1fr;
  }

  &.grid--full {
    height: 100vh;
    width: 100vw;
    grid-gap: 1vw;
    font-size: 30vw;
  }
}

.lap--0 {
  background: var(--lap-0);

  .is-single & {
    --lap-0: var(--color-white);
  }

  .is-quartet-simple &,
  .is-pair & {
    --lap-0: linear-gradient(45deg, var(--color-red) 50%, var(--color-white) 50%);
  }
}

.lap--1 {
  background: var(--lap-1);

  .is-quartet-simple & {
    --lap-1: linear-gradient(45deg, var(--color-blue) 50%, var(--color-yellow) 50%);
  }
}

.is-single,
.is-pair {
  .lap--0 ~ .lap {
    display: none;
  }
}

.is-quartet-simple {
  .lap--1 ~ .lap {
    display: none;
  }
}

.lap--2 {
  background: var(--lap-2);
}

.lap--3 {
  background: var(--lap-3);
}

.lap {
  align-items: center;
  justify-content: center;
  display: flex;
  line-height: 0;
  text-align: center;

  .grid--full & {
    text-shadow: -0.4vw -0.4vw 0 #fff,
    0.4vw -0.4vw 0 #fff,
    -0.4vw 0.4vw 0 #fff,
    0.4vw 0.4vw 0 #fff;
  }
}

.settings {
  margin: 2rem;
}

.connection {
  border-radius: 50% 50%;
  background-color: orangered;
  padding: .3rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

.connection.is-connected {
  background-color: limegreen;
}

.button--up {}